/* Enable this when we have enough articles
.tag-4 { font-size: 85%; }
.tag-3 { font-size: 100%; }
.tag-2 { font-size: 115%; }
.tag-1 { font-size: 130%; }
*/

.tagcloud a {
    line-height: 200%;
}

a.download {
    font-family: 'Source Sans Pro',Verdana,sans-serif;
}
article pre code {
    white-space: pre;
    border: none;
}

aside .admonition {
    padding: 1em 1em 0em 1em;
}

.admonition code {
    font-size: 0.8em;
    white-space: nowrap;
    color: #C25;
    padding: 1px 3px;
    border: 1px solid #E1E1E8;
    border-radius: 3px;
    font-family: "Source Code Pro",Consolas,monospace;
}

.admonition {
    border-radius: 10px;
    border: solid 1px;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 3px;
    z-index: 3;
}

.admonition-title {
    font-weight: bold;
}

.admonition-title .fa {
    padding-right: 0.5em;
}

.warning {
    border-color: #ff3333;
    background-color: #ffbbbb;
}

.play-circle-o {
    color: #242121;
    border-color: #888888;
    background-color: #ccccee;
}

.play-circle-o .admonition-title .fa {
    color: #777777;
}

.play-circle-o code {
    background-color: #ccccee;
}

.warning .admonition-title .fa {
    color: #ff3333;
}

.info {
    border-color: #3333aa;
    background-color: #ddddff;
}

.info .admonition-title .fa {
    color: #3333aa;
}

.graph {
    position: relative;
}

.svg-container {
    display: block;
    overflow: auto;
}

.svg-container.remote-container {
    position: absolute;
    top: 0px; right: 0px;
    border-left: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.reset-button {
    position: absolute;
    bottom: 0px; right: 0px;
    cursor: pointer;
}
.info-button {
    position: absolute;
    bottom: 25px; right: 0px;
    cursor: pointer;
}
.info-window {
    position: absolute;
    top: 0px; left; 0px;
}
.hidden {
    visibility: hidden;
}

circle.commit {
    fill: #EEEEEE;
    stroke: #888888;
    stroke-width: 3;
}

circle.commit.checked-out {
    fill: #CCFFCC !important;
    stroke: #339900;
}

circle.commit.merge-commit {
    stroke: #663300;
    fill: #FFFFCC;
}

circle.commit.reverted {
    fill: #FFC;
    stroke: #933;
}

circle.commit.rebased {
    stroke: #3300CC;
    fill: #CCCCFF;
}

circle.commit.branchless {
    fill: #FEFEFE;
    stroke: #DDD;
}

.commit-pointer {
    stroke: #666;
    stroke-width: 4;
}

.merge-pointer {
    stroke: #663300;
    stroke-width: 4;
}

.commit-pointer.branchless,
.merge-pointer.branchless {
    stroke: #DDD;
    stroke-width: 2;
}

text.id-label {
    text-anchor: middle;
    font-family: Courier New;
    font-weight: bolder;
    fill: #666;
    font-size: 10px;
}

text.message-label {
    text-anchor: middle;
    font-family: Courier New;
    fill: #666;
    font-size: 10px;
}

text.remote-name-display {
    font-family: "Source Sans Pro",Verdana,sans-serif;
    fill: #242121;
}

g.ref > rect {
    fill: #FFCC66;
    stroke: #CC9900;
    stroke-width: 2;
}

g.ref.tag > rect {
    fill: #7FC9FF;
    stroke: #0026FF;
}

g.ref.remote > rect {
    fill: #CCC;
    stroke: #888;
}

g.ref > text {
    text-anchor: middle;
    fill: #000;
    font-size: 11px;
    font-family: Arial;
}

g.head > rect {
    fill: #CCFFCC;
    stroke: #339900;
    stroke-width: 2;
}

g.head > text {
    text-anchor: middle;
    fill: #000;
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}
code.interactive {
    cursor: pointer;
}
code span.fa {
    padding-left: 0.3em;
}
