{% extends "base.html" %}

{% block sidebarextra %}
{% if article.metadata.graphs %}
<div id="graph-help" class="admonition play-circle-o">
<p class="admonition-title"><span class="fa fa-play-circle-o fa-lg"> </span><span>Interactive graphs</span></p>
<p>The graphs in this article are interactive, please click <code
class="interactive" >git commands<span class="fa
fa-play-circle-o"></span></code> with this icon to execute them in the graph
and see their effect. Click <span class="fa fa-undo"></span> to reset the graph
to its starting state.</p>
</div>
{% endif %}
{% endblock %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags }}" />
<meta name="keywords" content="{{ article.tags|join(', ') }}">
{% include "partial/og_article.html" %}
{% if article.metadata.graphs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js"></script>
<script type="text/javascript">
    require.config({
        baseUrl: '/static/js/',
        paths: {
            'd3': 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.0.8/d3.min',
            'seedrandom': 'https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min'
        },
        shim: {'d3': {exports: 'd3'}}
    });
    var all_graphs = {};
</script>
{% endif %}
{% endblock %}

{% block title %} &ndash; {{ article.title }}{% endblock %}

{% block content %}
<article>
  <header>
    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
    <p>Posted on {{ article.locale_date }} in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
  </header>
  <div>
    {{ article.content }}
  </div>
  <div class="tag-cloud">
    <p>
      {% if article.tags %}
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </p>
  </div>
{% if article.metadata.graphs %}
<svg version="1.1" baseProfile="full"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     xmlns:ev="http://www.w3.org/2001/xml-events"
     width="0" height="0">

    <marker id="triangle" refX="5" refY="5" markerUnits="strokeWidth" fill="#666"
            markerWidth="4" markerHeight="3" orient="auto" viewBox="0 0 10 10">
        <path d="M 0 0 L 10 5 L 0 10 z"/>
    </marker>
    <marker id="faded-triangle" refX="5" refY="5" markerUnits="strokeWidth" fill="#DDD"
            markerWidth="4" markerHeight="3" orient="auto" viewBox="0 0 10 10">
        <path d="M 0 0 L 10 5 L 0 10 z"/>
    </marker>
    <marker id="brown-triangle" refX="5" refY="5" markerUnits="strokeWidth" fill="#663300"
            markerWidth="4" markerHeight="3" orient="auto" viewBox="0 0 10 10">
        <path d="M 0 0 L 10 5 L 0 10 z"/>
    </marker>
</svg>
{% endif %}
  {% if ADD_THIS_ID %}
  <div class="center social-share">
    <p>Like this article? Share it with your friends!</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
  </div>
  {% endif %}
  {% include "partial/disqus.html" %}
</article>
{% endblock %}

{% block additional_js %}
  {% include "partial/jsonld_article.html" %}
{% endblock %}
