{% extends "base.html" %}

{% block content %}
<article>
<h1>The Git cookbook</h1>
<p>
    Git, you either love it for its power or hate it for it's ui. While I'm a
    trained git apologist and love its power and flexibility, I've also done a
    lot of git user support at work and in the #git IRC channel. I understand
    the frustration of the jumble of jargon, inconsistency and arcana that is
    the git UI and will help you dive into it!
</p>
<p>
    If you have questions, comments or suggestions about any of the articles,
    please leave a comment on the article or in the issue tracker on
    <a href="https://gitlab.com/seveas/git_cookbook/">GitLab</a>. Suggestions for new
    articles are also very welcome!

</p>
</article>
<hr />
{% for article in articles_page.object_list %}
<article>
  <header>
    <h2><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a></h2>
    <p>
      Posted on {{ article.locale_date }} in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
      {% if article.tags %}
      &#8226; Tagged with
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
      {% if DISQUS_SITENAME %}
      &#8226; <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Leave a comment</a>
      {% endif %}
    </p>
  </header>
  <div>
    {% if summarise or article.metadata['summary'] or article.metadata['summarize'] %}
      {{ article.summary }}
      <a class="btn" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">Continue reading</a>
    {% else %}
      {{ article.content }}
    {% endif %}
  </div>
  {% if not loop.last %}
  <hr />
  {% endif %}
</article>
{% endfor %}

{% include "partial/pagination.html" %}
{% endblock %}

{% block additional_js %}
  {% include "partial/jsonld.html" %}
  {% include "partial/disqus_count.html" %}
{% endblock %}
